<strong>Hola <%= @resource.name %>,</strong>

<p>Se te ha creado una nueva cuenta en Financiamiento Clim치tico. Para iniciar sesi칩n es necesario que primero establezcas una contrase침a ingresando a <%= link_to "esta liga", edit_user_password_url(@resource, reset_password_token: @token) %>.</p>


<p>
  Gracias,
  <strong>Financiamiento Clim치tico</strong>
</p>
