
<%#
# Sidebar
This partial is used to display the sidebar in Administrate.
By default, the sidebar contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<br/>
<h3><%= t(".heading") %></h3>
<hr/>
<ul class="sidebar__list">
  <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <li>
      <% if @permissions.send("can_manage_#{resource}?")%>
        <%= link_to(
          t(".#{resource}"),
          [namespace, resource],
          class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
        ) %>
      <% end %>
    </li>
  <% end %>
</ul>
<hr/>
<%= link_to t(".signout"), destroy_user_session_path, method: :delete %>